.enterButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  position: fixed;
  bottom: 60px;
  right:400px; 
  animation: 5s fadeIn;
  animation-fill-mode: forwards;
  visibility:hidden;
}

@keyframes fadeIn {
    99%{
        visibility:hidden;
    }
    100%{
        visibility:visible
    }
}